<%- include('./header'); %>
<header class="header">
  <div class="menu" id="menu__section">
    <label class="menu__section"></label>
  </div>
  <div class="header__title"><h1>QuizMastemind</h1></div>
</header>
<%- include('./nav'); %>
<main class="main">
  <section class="section">
    <div class="section__content">
      <% if(typeof data.askConnect !== 'undefined' && (data.askConnect ===
      'login' || data.askConnect === 'sign up')) { %> <%-include('./connect');%>
      <%} else if (typeof data.askProfil !== 'undefined') {%>
      <%-include('./profil');%> <% }else if(typeof data.askConnect ===
      'undefined') {%> <%-include('./quiz_index');%> <%}%>
    </div>
  </section>
</main>
<%- include('./footer'); %>
