<%- include('./header'); %>
<header class="header">
  <div class="header__title"><h1>QuizMastemind</h1></div>
</header>
<main class="main">
  <%- include('./nav'); %>
  <section class="section">
    <div class="section__content">
      <% if(typeof data.askConnect !== 'undefined' && (data.askConnect ===
      'login' || data.askConnect === 'sign up')) { %> <%-include('./connect');%>
      <%} else if (typeof data.askProfil !== 'undefined') {%> 
        <%-include('./profil');%> 
      <% }else if(typeof data.askConnect === 'undefined') {%>
      <%-include('./quiz_index');%> 
      <%}%>
    </div>
  </section>
</main>
<%- include('./footer'); %>
